<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.anggarad.dev.foodfinder">

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:fullBackupContent="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FoodFinder">
        <activity
            android:name=".profile.UserReviewHistoryActivity"
            android:exported="false"
            android:parentActivityName=".home.HomeActivity" />
        <activity
            android:name=".search.SearchActivity"
            android:exported="false"
            android:theme="@style/Theme.FoodFinder.NoActionBar"
            android:parentActivityName=".home.HomeActivity" />
        <activity
            android:name=".detail.PostReviewActivity"
            android:exported="false"
            android:parentActivityName=".detail.DetailsActivity" />
        <activity
            android:name=".home.HomeActivity"
            android:exported="false"
            android:theme="@style/Theme.FoodFinder.NoActionBar" />
        <activity
            android:name=".auth.AuthActivity"
            android:exported="false" /> <!-- <activity -->
        <!-- android:name=".detail.DetailsActivity" -->
        <!-- android:exported="false" /> -->
        <!-- <activity android:name=".home.HomeActivity" /> -->
        <activity
            android:name=".detail.DetailsActivity"
            android:label="DetailRestoActivity"
            android:parentActivityName=".home.HomeActivity" />
        <activity
            android:name=".MainActivity"
            android:theme="@style/Theme.FoodFinder.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

</manifest>